* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "poppins", sans-serif;
  color: #000;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  width: 100%;
  z-index: 999;
  background: transparent;
  top: 0;
  left: 0;
  transition: 0.6s;
}

.navbar.sticky {
  padding: 10px 100px;
  background-color: rgba(255, 255, 255, 0.7);

  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.navbar.sticky .navbar-logo,
.navbar.sticky .navbar-nav a {
  color: #000;
}

.navbar.sticky .navbar-nav a:hover {
  color: #ff3300;
  transform: translateX(-5px) translateY(-3px);
}

.navbar-nav a {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
  color: #fff;
  font-size: 1.3rem;
  transition: 0.3s;
}

.navbar .navbar-logo {
  position: relative;
  font-size: 2rem;
  color: #fff;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.6s;
}

.navbar .navbar-logo span {
  color: #ff3300;
}

#hamburger-menu {
  display: none;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.4;
  z-index: -1;
}

.background-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -5;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.showing {
  opacity: 1;
  z-index: -1;
  transition: none;
}

/* .hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3%, rgba(255, 255, 255, 0) 30%);
} */

.hero .content {
  padding: 1.4rem 30%;
  text-align: center;
}

.hero .content h2 {
  font-size: 5em;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  color: #fff;
  line-height: 5rem;
  border-bottom: 3px solid #ff3300;
  padding-bottom: 0.5rem;
}

.hero .content h2 span {
  color: #ff3300;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  color: #ff3300;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.8);
}

.menu {
  padding: 10rem;
}

.wrapper h1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Righteous", sans-serif;
  letter-spacing: 2px;
}

.wrapper {
  text-align: center;
  margin: 24px 0;
}

.row {
  display: flex;
  justify-content: center;
}

.eat {
  padding-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.sajian {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.sajian img {
  width: 250px;
  border-radius: 5px;
}

.sajian h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.sajian h3 span {
  color: #ff3300;
  font-weight: 600;
}

.row h2 {
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ff3300;
}

.card-extra a {
  font-size: 50px;
  color: #ff3300;
}

.pembuka {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  margin-bottom: 50px;
  margin-top: 230px;
}

.card-extra {
  text-align: center;
  padding: 2rem;
  width: 250px;
  height: 200px;
  margin: 1.2rem;
  background-color: #e4e4e4;
  transition: 0.3s ease;
}

.card-extra:hover {
  transform: scale(1.2);
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  padding: 30px;
  text-align: center;
}

.slide .card {
  width: 280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
}

.slide:nth-child(even) {
  background-color: #f0f0f0;
}

.slide:nth-child(odd) {
  background-color: #e0e0e0;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  color: #333;

  cursor: pointer;
  font-size: 24px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.rating {
  padding-top: 28px;
  text-align: center;
  padding-bottom: 42px;
}

.judul-rated {
  margin-bottom: 14px;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Righteous", sans-serif;
  letter-spacing: 2px;
}

.card-container {
  padding: 15px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.card-rated {
  margin: 0 12px;
  width: 50%;
  height: 480px;
  padding: 2rem 1.2rem;
  background-color: #e4e4e4;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.card-rated h2 {
  color: #ff3300;
}

.card-rated img {
  border-radius: 50%;
  margin-bottom: 5px;
}

.card-rated p {
  padding: 15px;
  display: flex;
}

.contact {
  padding-top: 36px;
  padding-bottom: 32px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  margin: 0 auto;
}

.contact-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contact-label {
  font-weight: 600;
  color: #ff3300;
}

.contact-title {
  text-align: center;
  margin-bottom: 10px;
}

.contact-title h2 {
  font-size: 1.3rem;
  color: #ff3300;
}

.contact-title h1 {
  font-size: 2rem;
}

.contact-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #e4e4e4;
}

.contact-button {
  padding: 0.5rem 1rem;
  background-color: #ff3300;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  margin-bottom: 24px;
}

.contact-button:hover {
  background-color: #f84e23f8;
}

footer {
  background-color: #ff3300;
  padding-top: 6rem;
  padding-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-left: 23px;
  align-items: center;
}

.footer-desc {
  width: 100%;
  padding: 0 20px;
  color: white;
}

.footer-desc p {
  color: #e4e4e4;
  font-size: 1.3rem;
}

.footer-desc a {
  display: block;
  color: #e4e4e4;
  transition: 0.3s;
  padding: 0 20px;
  font-size: 1.3rem;
}

.footer-desc a:hover {
  color: white;
  transform: translateX(-5px) translateY(-3px);
}

.footer-desc h1 {
  font-size: 2.25rem;
}

.footer-desc h2 {
  font-size: 1.8rem;
  margin-bottom: 1.3rem;
}
.footer-name {
  padding-top: 3rem;
  width: 70%;
  margin: 0 auto;
}

.footer-name p {
  margin-top: 24px;
  text-align: center;
  color: #e4e4e4;
  font-size: 0.8rem;
}

.footer-name p a {
  color: #000;
  font-weight: 600;
}

/* Responsives */

@media screen and (max-width: 768px) {
  * {
    width: 100%;
  }

  .background-container {
    background-size: none;
  }
  .navbar-logo span {
    display: block;
  }
  .navbar-logo {
    left: 0;
  }

  .menu {
    padding: 2rem;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-rated {
    margin-top: 40px;
    width: 70%;
  }

  .card-rated img {
    width: 80%;
  }

  .prev-btn {
    left: 2px;
  }

  .navbar-nav {
    display: none;
  }
  .pembuka,
  .content {
    display: none;
  }
  footer .container {
    display: block;
  }
  .footer-desc {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}
